# Normaliza texto
* text=auto

# Força LF em arquivos de código/config
*.dart  text eol=lf
*.yaml  text eol=lf
*.yml   text eol=lf
*.md    text eol=lf
*.cc    text eol=lf
*.h     text eol=lf
*.cmake text eol=lf
*.txt   text eol=lf